
body * {
  margin: 0;
  padding: 0;
  --spheight: 5px;
}

input.hamburger-checkbox {
  position: absolute;
  z-index: 3;
  top: 5vh;
  left: 5vw;
  width: 45px;
  opacity: 0.8;
  height: 45px;
/*  height: calc(var(--spheight)*4);*/
  display: inline-block;
/*  border: 3px solid green;*/
}

.hamburger-icon {
  position: absolute;
  z-index: 1;
  top: 5vh;
  left: 5vw;
  padding-bottom: 2vh;
}
.hamburger-icon span {
  height: 5px;
  width: 40px;
  background-color: black;
  display: block;
  margin: 5px 0px 5px 0px;
  transition: 0.5s ease-in-out;
  transform: none;
}

