.body {
  width: 100vw;
  height: 100vh;
/*  background: rgb(7, 9, 233);*/
/*  background: linear-gradient(90deg, rgba(7, 9, 233, 1) 0%, rgba(0, 212, 255, 1) 50%, rgba(7, 9, 233, 1) 100%);*/
/*
  background: radial-gradient(circle, rgba(7, 9, 233, 1) 0%, rgba(0, 212, 255, 1) 50%, rgba(7, 9, 233, 1) 100%);
  background: radial-gradient(circle, rgba(7, 9, 233, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background: radial-gradient(rgba(7, 9, 233, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background-image: radial-gradient(cyan 0%, transparent 20%, salmon 40%);
*/
/*  background: radial-gradient(rgba(7, 9, 233, 1) 0%, rgba(0, 212, 255, 1) 100%);*/
 background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}


.radial {
/*  background-image: radial-gradient(circle, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
  background-image: radial-gradient(cyan 0%, transparent 20%, salmon 40%);
  width: 100vw;
  height: 300px;
}

ul li a {
  text-decoration: none;
}
ul li {
  list-style: none;
  padding: 6px;
}