
.menu * {
  margin: 0;
  padding: 0;
}

.menu ul li {
  list-style: none;
  display: block;
}

.menu > ul > li > ul > li {
  margin-top: 2px;
  margin-left: 0;
}
.menu ul li {
  margin: 0 0 2px 2px;
}

.menu > ul {
  display: flex;
  justify-content: center;
}

.menu > ul > li > a {
  text-transform: uppercase;
}
.menu > ul li a {
  display: block;
  padding: 15px 30px;
  font-size: 14px;
/*  color: #454547;*/
/*  color: #fafafa;*/
  color: #1a1a34;
  text-decoration: none;
  transition: all .5s ease;
  border-radius: 4px;
}
.menu > ul li {
  position: relative;
}
.menu li a:hover {
/*  background: #454547;*/
/*  color: #fafafa;*/
  color: #1a1a34;
  box-shadow: 1px 1px 10px -5px black;
  transition: all .5s ease;
  padding-left: 30px;
}


/* sub menu */
.menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
  transition: all .5s ease-in-out;
}

/*
.menu li > ul li {
  border: 1px solid #c7c8ca;
}
*/
.menu li > ul li a {
  padding: 10px;
  text-transform: capitalize;
/*  background: #e4e4e5;*/
}

.menu li > ul ul {
  position: absolute;
  right: -150px;
  top: 0;
}

.menu li:hover > ul {
  display: block;
  transition: all 5s ease-in-out;
}


.menu a {
/*  border: solid 1px #5d5f64;*/
/*  background: linear-gradient(#7b7b7b 10%, #4c4c4c 100%);*/
/*  background: linear-gradient(#a2a2a2 10%, #7b7b7b 100%);*/
/*  background: linear-gradient(#b8b8b8 10%, #a2a2a2 100%);*/
  background: linear-gradient(#b0fcff 10%, #52f5fc 100%);
}
.menu a:hover {
/*  background: linear-gradient(#7b7b7b 40%, #4c4c4c 100%);*/
/*  background: linear-gradient(#a2a2a2 40%, #7b7b7b 100%);*/
/*  background: linear-gradient(#b8b8b8 40%, #a2a2a2 100%);*/
  background: linear-gradient(#b0fcff 40%, #52f5fc 100%);
}
.menu a:active {
/*  background: linear-gradient(#4c4c4c 20%, #7b7b7b 100%);*/
/*  background: linear-gradient(#7b7b7b 20%, #a2a2a2 100%);*/
/*  background: linear-gradient(#a2a2a2 20%, #b8b8b8 100%);*/
  background: linear-gradient(#52f5fc 20%, #b0fcff 100%);
}
