
.menu * {
  margin: 0;
  padding: 0;
}

.menu ul li {
  list-style: none;
}

.menu > ul {
  display: flex;
/*  justify-content: space-around;*/
  justify-content: center;
}

.menu > ul > li > a {
  text-transform: uppercase;
}
.menu > ul li a {
  display: block;
  background: #ececed;
  padding: 15px 30px;
  font-size: 14px;
  color: #454547;
  text-decoration: none;
  transition: all .5s ease;
}
.menu > ul li {
  border-right: 1px solid #c7c8ca;
  position: relative;
}
.menu > ul li:first-child {
  border-left: 1px solid #c7c8ca;
}
.menu li a:hover {
  background: #454547;
  color: #fafafa;
  box-shadow: 1px 3px 10px -5px black;
  transition: all .5s ease;
}




/* sub menu */
.menu li ul {
  position: absolute;
  min-width: 150px;
  display: none;
}

.menu li > ul li {
  border: 1px solid #c7c8ca;
}
.menu li > ul li a {
  padding: 10px;
  text-transform: capitalize;
  background: #e4e4e5;
}

.menu li > ul li ul {
  position: absolute;
  right: -150px;
  top: 0;
}

.menu li:hover > ul {
  display: block;
}
